.right {
  text-align: right;
}
.container {
  max-width: 625px;
  font-family: 'Montserrat', san-serif;
  display: inline-block;
  text-align: left;
}
p, img, ol {
  font-family: 'PT Sans', sans-serif;
  margin-left: 75px;
}
li {
  padding: 10px 0;
}
img {
  max-width: 400px;
  padding: 25px 75px;
}
img:hover {
  filter: invert(10%);
}
h1 {
  text-align: center;
}
