body {
  color: #222;
}
.right {
  text-align: right;
}
.container {
  max-width: 625px;
  font-family: 'Montserrat', san-serif;
  display: inline-block;
  text-align: left;
}
p, img, ol {
  font-family: 'PT Sans', sans-serif;
  margin-left: 75px;
}
li {
  padding: 10px 0;
}
img {
  max-width: 400px;
  max-height: 400px;
  padding: 25px 75px;
}
img:hover {
  filter: invert(10%);
}
h1 {
  text-align: center;
}
.anchor {
  color: inherit;
  text-decoration: none;
}
.anchor > h2:hover::after {
  content: " #";
  color: lightblue;
}
.link {
  text-decoration: none;
  background-color: #222;
  color: white;
  border-radius: 3px;
  padding: 0 3px;
}
.link:hover {
  color: lightblue;
}
@media print {
  img {
    page-break-inside: avoid;
  }
}
